{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "Cors": {
    "AllowOrigin": "*"
  },
  "appSettings": {
    "jwt_secret": "weqoiruwpoijfxcn!@#$%^&*()",
    "db":"Server=localhost;Database=newfields_dotnet_db;User Id=sa;Password=123456;",
    "hash_key": "850c6f38-36a4-4777-8d75-07718ec34926"
  }
}
